* {
  box-sizing: border-box;
  font-family: "Segoe UI";
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.jumbotron.jumbotron-main {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  margin: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: #6819e8;
  background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
  background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 );
}

.jumbotron.jumbotron-main hr {
  border-width: 1px 0px;
  border-style: dotted none;
  border-color: rgba(255, 255, 255, 0.35);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 49px;
  height: 4px;
  text-align: center;
  position: relative;
  clear: both;
}

.jumbotron.jumbotron-main a {
  color: #fff;
}

.center-vertically {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.center-vertically-holder {
  display: table;
  height: 100%;
}

body {
  margin-top: 20px;
}

.jumbotron.jumbotron-main {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  margin: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: #6819e8;
  background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
  background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 );
}

.jumbotron.jumbotron-main hr {
  border-width: 1px 0px;
  border-style: dotted none;
  border-color: rgba(255, 255, 255, 0.35);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 49px;
  height: 4px;
  text-align: center;
  position: relative;
  clear: both;
}

.jumbotron.jumbotron-main a {
  color: #fff;
}

.center-vertically {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.center-vertically-holder {
  display: table;
  height: 100%;
}

.scroll-indicator {
  padding-top: 6px;
  display: inline-block;
  width: 50px;
}

.arrow-scroll-indicator {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
  background: transparent;
}

.bg-color {
  margin-bottom: 10px;
  padding: 15px;
  background-color: rgba(75, 1, 110, 0.5);
  box-shadow: 8px 8px 12px rgba(75, 1, 110, 0.5); 

  -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.bg-color:hover {
  transform: scale(1.15, 1.15);
  background-color: rgba(75, 1, 110, 0.8);
  box-shadow: 18px 18px 20px rgba(75, 1, 110, 0.5); 

}

.btn-primary {
  background-color: rgba(75, 1, 110, 0.5); 
  border: rgba(75, 1, 110, 0.5); 
  box-shadow: 5px 5px 12px rgba(75, 1, 110, 0.5); 
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

.btn-primary:hover {
  transform: scale(1.05, 1.05);
  background-color: rgba(75, 1, 110, 0.8); 
  border: rgba(75, 1, 110, 0.8); 
}

.btn-primary:disabled {
  background-color: #615fde;
  border: #615fde;
}